@import "tailwindcss";

.bg-main {
  background-color: var(--main);
}

.bg-secondary {
  background-color: var(--secondary);
}

.text-main {
  color: var(--main);
}

.text-secondary {
  color: var(--secondary);
}

.hover-text-main:hover {
  color: var(--main);
}
.hover-text-secondary:hover {
  color: var(--secondary);
}

.hover-bg-main:hover {
  background-color: var(--main);
}
.hover-bg-secondary:hover {
  background-color: var(--secondary);
}

@media (max-width: 640px) {
  .text-48px {
    font-size: 48px;
  }
}
